body{
  background: lightsalmon;
  
font-family: 'Lato', sans-serif
}

.jumbotron{
  font-family: 'Girassol', cursive;
}

.btn-lg{
  font-size: 18pt
}

#scoreKeeper-link{
  font-size: 24pt
}

.display-1{
  font-family: 'Lato', sans-serif
}

.name{
  font-size: 18pt
}